<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Refractored.MvvmHelpers" version="1.1.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.0.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.3.3.175" targetFramework="portable45-net45+win8+wp8" />
</packages>